/* @font-face { font-family: Delicious; src: url('Delicious-Roman.otf'); } 
@font-face { font-family: Delicious; font-weight: bold; src: url('Delicious-Bold.otf'); } */


h1 {
    color: crimson;
    text-align: center;
}
.jumbotron{
    background-image: url('./lotteryballs.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 450px;
    font-family: 'Pacifico';
    border-bottom-color: 'black';
    border-bottom-style: solid;
    border-bottom-width: 10px;
}



body{
    background-color: #efefef
}

#jumboHeader{
    color: crimson;
}

#explaination{
    color: crimson;
}