<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Powerball Visualization and Analysis</title>

    
    <!-- Latest compiled and minified CSS & JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.12.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" media="screen" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico" />
    
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    
    <!-- header -->
        
        <div class="jumbotron">
            <div class="container">
                <h1>Visualizing Luck</h1>
                <p>Explore the Data behind the Powerball Lottery</p>
                <!-- <p>
                    <a class="btn btn-primary btn-lg">Learn more</a>
                </p> -->
            </div>
        </div>

        
        <div class="container">
            <div class="row">
                div.
                <div class="panel panel-primary">
                      <!-- <div class="panel-heading">
                            <h3 class="panel-title"></h3>
                      </div> -->
                      <div class="panel-body">
                            <div id = 'graph'></div>
                      </div>
                </div>
                
            </div>
        </div>
        
       
        
    <script src="../static/js/logic.js"></script>
    
</body>
</html>